<!-- Main Layout: Full height, sidebar + content -->
<div class="flex h-screen overflow-hidden bg-gray-950">

  <!-- Sidebar -->
  <app-sidebar
    (collapsedStateChanged)="isSidebarCollapsed = $event"
    class="flex-shrink-0 bg-gray-800 text-white shadow transition-all duration-300 ease-in-out"
    [class.w-64]="!isSidebarCollapsed"
    [class.w-20]="isSidebarCollapsed">
  </app-sidebar>

  <!-- Main Content Area -->
  <div class="flex flex-1 flex-col">



    <!-- Page Content -->
    <main class="flex-1 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>

